<%- include('partials/base') -%>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>About Us</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <link rel="stylesheet" href="styles/about.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</head>

<body class="About-us">
  <h1>About Us</h1>

  <section>
    <h2>What we do</h2>
    <p>Adifier makes it simple for business and startups to find exactly what they want to do. With direct access to more than 2,00,000 active users, business can be easily discovered and promoted all for small fee. Adifier lets businesses focus on improving there product and not letting them worry about the marketing part. We also feature:</p>
    <ul>
      <li>24-hour cancellation policy</li>
      <li>The lowest price guarantee</li>
      <li>Millions of customer reviews</li>
      <li>24/7 multi-lingual customer care</li>
    </ul>
  </section>

  <section>
    <h2>Connect with Us!</h2>
    <p>Want to know more? Join us on Facebook or follow us on instagram and twitter!<br>
    View our link: Adifier Copyright Compliance Policy.</p>
  </section>

</body>

</html>
