<%- include('partials/base') -%>
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/styles/home.css" />
  </head>
  <body>
    <img class="main-img" src="/images/mainImageWeb.png" alt="" />
    <div class="features-para">
      <h2>Build, grow, and promote your business with Adifier</h2>
      <p class="text">
        Attract your customers with a powerful web presence and online
        advertising. We provide you with a central platform that gives you an
        overview of everything related to your business online. Find the
        category that’s right for you.
      </p>
    </div>
    <div class="card-deck card-col">
      <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card h-100 card-item">
            <div class="overflow">
              <img
                src="/images/grow.png"
                class="card-img-top img-item"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Grow</h5>
              <p class="card-text">
                Drive traffic to your website and improve your ranking in
                organic search results.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-item">
            <div class="overflow">
              <img
                src="/images/build.jpg"
                class="card-img-top img-item"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Build</h5>
              <p class="card-text">
                Make your business come to life online with a website that takes
                just minutes to create. No coding required.
              </p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100 card-item">
            <div class="overflow">
              <img
                src="/images/promote2.png"
                class="card-img-top img-item"
                alt="..."
              />
            </div>
            <div class="card-body">
              <h5 class="card-title">Promote</h5>
              <p class="card-text">
                Promote your products and offers with engaging ads. You decide
                the ad budget.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('partials/footer') -%>
  </body>
</html>
